{% extends 'admin/base.html.twig' %}
{% block body %}
	<div class="m-3 d-flex flex-column justify-content-center align-items-center">
		<div class="pb-5">
			<a href={{path('app.admin.create')}} class="btn btn-info p-3 fw-bold fs-3 mx-auto">
				<i class="bi bi-plus bi-3x" style="font-size:50px;"></i>
				<p>Ajouter un bien</p>
			</a>
			<a href={{path('app.admin.create')}} class="btn btn-danger p-3 fw-bold fs-3 mx-auto">
				<i class="bi bi-person" style="font-size:50px;"></i>
				<p>Voir les membres</p>
			</a>
		</div>

		{% for message in app.flashes('success')%}
			<div class="alert alert-info">{{ message }}</div>
		{% endfor %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						Titre
					</th>
					<th class="text-center">
						Nombre de chambre
					</th>
					<th class="text-center">
						Nombre d'etage
					</th>
					<th>
						prix
					</th>
				</tr>
			</thead>
			<tbody>
				{% for property in properties %}
					<tr>
						<th>{{ property.title}}</th>
						<th class="text-center">{{ property.rooms}}</th>
						<th class="text-center">{{ property.floor}}</th>
						<th class="text-danger">{{ property.price}}
							$</th>
						<th>
							<a class="btn btn-primary" href={{path('app.admin.edit',{id:property.id} )}}>
								<i class="bi bi-pen"></i>
							</a>
						</th>
						<th>
							<form method="post" action={{path('app.admin.delete',{id:property.id} )}} onsubmit="return confirm(' voulez vous confirmer la suppression ?')">
								<input type="hidden" name="_method" value="DELETE"/>
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id)}}"/>
								<button class="btn btn-danger">
									<i class="bi bi-trash"></i>
								</button>
							</form>
						</th>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
